/* about.css */

.about-page .container {
    margin-top: 100px;
    /* 添加上边距，避免内容与导航栏重叠 */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
padding-bottom: 5vw;
padding-top: 3vw;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


.about-page .container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 8%;
    padding-bottom: 5%;
}

.about-page .text-section {
    flex: 1;
    padding-right: 20px;
}

.about-page .text-section h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-page .text-section hr {
    width: 50px;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-left: 0;
}

.about-page .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-page .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    /* 设置宽度 */
    height: 400px;
    /* 设置高度 */
    background-image: url("../images/Introduction Image.png");
    /* 背景图片 */
    background-size: contain;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
}

.about-page .image-section img {
    max-width: 100%;
    height: auto;
}

.about-page .image-back {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    /* 设置宽度 */
    height: 100px;
    /* 设置高度 */
    background-image: url("../images/公司介绍/背景元素.png");
    /* 背景图片 */
    background-size: 100% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
}

.about-page .button-container {
    margin-top: 20px;
}

.about-page .button-container a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
}

.about-page .container2 .text-section p {
    font-size: 16px;  /* 设置段落的字号大小 */
    line-height: 1; /* 设置段落的行距，这里使用了默认的行距倍数 */
  }

.about-page .container2  .member_back{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.9vw;
    /* 设置宽度 */
    height: 58vh;
    /* 设置高度 */
    background-image: url("../images/公司介绍/核心团队/背景.png");
    /* 背景图片 */
    background-size: 70% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
    position: relative;
    top:20px;
}

.about-page .container2 .member_曾德志_img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width:15.5vw;
    /* 设置宽度 */
    height: 56vh;
    /* 设置高度 */
    background-image: url("../images/公司介绍/核心团队/曾德志照片.png");
    /* 背景图片 */
    background-size: 100% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
    position: absolute; /* 绝对定位，使元素可以重叠 */
    left:10vw;  
}

.about-page .container2 .member_程健_img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     width:15.5vw;
    /* 设置宽度 */
    height: 56vh;
    /* 设置高度 */
    background-image: url("../images/公司介绍/核心团队/程健照片.png");
    /* 背景图片 */
    background-size: 100% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
    position: absolute; /* 绝对定位，使元素可以重叠 */
    left:55vw; 
}

.about-page .container2 .member_靳卿_img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     width:15.5vw;
    /* 设置宽度 */
    height: 56vh;
    /* 设置高度 */
    background-image: url("../images/公司介绍/核心团队/靳卿照片.png");
    /* 背景图片 */
    background-size: 100% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
    position: absolute; /* 绝对定位，使元素可以重叠 */
    left:10vw; 
}

.about-page .container2 .member_梅祖嵩_img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     width:15.5vw;
    /* 设置宽度 */
    height: 56vh;
    /* 设置高度 */
    background-image: url("../images/公司介绍/核心团队/梅祖嵩照片.png");
    /* 背景图片 */
    background-size: 100% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
    position: absolute; /* 绝对定位，使元素可以重叠 */
    left:55vw; 
}