 /*#region 移动端和pc端显示不同内容，根据屏幕长宽比判断，横屏用pc端，竖屏用移动端*/
 @media screen and (max-aspect-ratio: 1/1) {
    .block.PC {
        display: none;
        /* 在移动端隐藏 */
    }
}

/* PC端样式*/
@media screen and (min-aspect-ratio: 1/1) {
    .block.mobile-only {
        display: none;
        /* 在PC端隐藏 */
    }
}

/*#endregion*/



.app-page .container {
    
    margin-top: 80px;
    /* 添加上边距，避免内容与导航栏重叠 */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.app-page .container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.app-page .container2 > * {
    margin-right: 20px; /* 给右侧添加20px的外边距 */
  }

  .hotIP-page .container2 > :last-child {
    margin-right: 0; /* 最后一个元素不添加右侧外边距 */
  }

.app-page .text-section hr {
    width: 50px;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-left: 0;
}

.app-page .安卓下载图{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100vw;
    /* 设置宽度 */
    padding-top: calc(100vw / 1.96);
    /* 设置高度 */
    background-image: url("../images/应用/安卓.jpg");
    /* 背景图片 */
    background-size: 100% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
    position: relative;
}

.app-page .ios下载图{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 60vw;
    /* 设置宽度 */
    padding-top: calc(60vw / 1.96);
    /* 设置高度 */
    background-image: url("../images/应用/ios.jpg");
    /* 背景图片 */
    background-size: 100% 100%;
    /* 使图片适应容器大小 */
    background-repeat: no-repeat;
    position: relative;
    left:20vw;
}