 /*#region 移动端和pc端显示不同内容，根据屏幕长宽比判断，横屏用pc端，竖屏用移动端*/
 @media screen and (max-aspect-ratio: 1/1) {
    .block.PC {
        display: none;
        /* 在移动端隐藏 */
    }
}

/* PC端样式*/
@media screen and (min-aspect-ratio: 1/1) {
    .block.mobile-only {
        display: none;
        /* 在PC端隐藏 */
    }
}

/*#endregion*/

body .friends {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

    align-items: stretch;
}

.partners-section {
    text-align: center;
    padding: 50px 0;
    flex: 1;
}

.partners-section h1 {
    font-size: 36px;
    margin: 0;
}

.partners-section h2 {
    font-size: 18px;
    margin: 10px 0 40px;
    color: #666;
}

.partners-logos {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.partners-logos .logo {
    width:540px;

    height: 240px;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center;

    margin: 2px;


}

.partners-logos2 {
    display: flex;
    justify-content: center;
    padding: 0% 23%;
}

.partners-logos2 .logo {
    width:540px;

    height: 240px;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center;

    margin: 2px;


}


.partners-logos .logo1 {
    background-image: url("../images/partner_icon (1).png");
}

.partners-logos .logo2 {
    background-image: url('../images/partner_icon (2).png');
}

.partners-logos .logo3 {
    background-image: url('../images/partner_icon (3).png');
}

.partners-logos2 .logo4 {
    background-image: url('../images/partner_icon (4).png');
}

.partners-logos2 .logo5 {
    background-image: url('../images/partner_icon (5).png');
}


/* #region 移动端合作伙伴样式 */
@media screen and (max-aspect-ratio: 1/1) {
    .partners-section {
        text-align: center;
        padding: 0px 0;
        flex: 1;
    }

    .partners-logos .logo4 {
        background-image: url('../images/partner_icon (4).png');
    }

    .block.mobile-only .partners-logos {
        display: flex;
        justify-content: space-between;
        padding: 0 0%;
    }

    .block.mobile-only.partners-logos2 {
        display: flex;
        justify-content: space-between;
        padding: 0% 20%;
    }

    .partners-logos .logo {
        width:540px;
    
        height: 120px;
    
        background-size: contain;
    
        background-repeat: no-repeat;
    
        background-position: center;
    }

    .partners-logos2 .logo {
        width:540px;
    
        height: 120px;
    
        background-size: contain;
    
        background-repeat: no-repeat;
    
        background-position: center;
    
    }
}
/*#endregion*/