 /*#region 移动端和pc端显示不同内容，根据屏幕长宽比判断，横屏用pc端，竖屏用移动端*/
 @media screen and (max-aspect-ratio: 1/1) {
    .block.PC {
        display: none;
        /* 在移动端隐藏 */
    }
}

/* PC端样式*/
@media screen and (min-aspect-ratio: 1/1) {
    .block.mobile-only {
        display: none;
        /* 在PC端隐藏 */
    }
}

/*#endregion*/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    margin-top: 100px;
    padding: 20px;
    padding-bottom: 8vw;
    padding-top: 2vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 48px;
    margin: 0;
}

.header .subheader {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.header .subheader span {
    font-size: 24px;
}

.news-categories1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.news-categories1 div {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.news-categories1 div:first-child {
    margin-right: auto;
}



.news-categories1 div::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #00AEEF;
    margin-right: 10px;
}

.news-categories1 div:nth-child(2) {
    margin: 0 auto;
    position: relative;
    right: 14%;
}

.news-categories2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.news-categories2 div {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.news-categories2 div:first-child {
    margin-right: auto;
}

/* 条目前的标识
.news-categories2 div::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #00AEEF;
    margin-right: 10px;
}
*/

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-container button {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.image-section1 {
    display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 30vw;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
}

.image-section1 a{
    text-decoration: none;
}

.image-section1 a:hover p{
    color: blue; /* 鼠标悬停时颜色变为蓝色 */
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

.image-section1 img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;

    margin-left: 8vw;
    margin-right: 8vw;

    background-image: url("../images/新闻1/1.jpg");

    background-size: contain;

    background-repeat: no-repeat;
}
.image-section1 p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
}



.image-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:30vw;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.image-section2 a{
    text-decoration: none;
}

.image-section2 a:hover p{
    color: blue; /* 鼠标悬停时颜色变为蓝色 */
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

.image-section2 img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;

    margin-left: 8vw;
    margin-right: 8vw;

    background-image: url("../images/新闻2/6.jpg");

    background-size: contain;

    background-repeat: no-repeat;
}
.image-section2 p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
}